@import '../../App.scss';

.products{
    margin: 3rem 3rem;
}
.products h3{
    font-size: 2rem;
    font-weight: 500;
    color : $darkGray;
    margin-block-end: 0.5em;
    margin-left: 1.3rem;
 }
.products-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}


