@import '../../App.scss';

.products{
    margin: 1rem 0rem;
}

.products-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}