@import '../../App.scss';
.admin{
    width: 100%;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
}
.container{
    margin-top: 1rem;
    padding: 0.8rem 1rem;
    box-sizing: border-box;
}
.side-menu{
    display: flex;
    flex-direction: column;
    margin-top:0rem;
    flex: 0 0 25%;
}
.menu-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8rem 2rem;
    cursor: pointer;
}
.active-item{
    background-color: $cream;
}
.menu-item a{
    font-weight: 200;
}
.menu-item a:active{
    font-weight: 200;
    color: $cream;
}
@media screen and (min-width : 700px) {
    .admin{
       flex-direction: row;
    }
    .container{
        margin: auto;
        margin-top: 1rem;
        padding: 0.8rem 3.5rem;
        flex: 0 0 75%;
        box-sizing: border-box;
    }
    .side-menu{
        margin-top:4.5rem;
    }
}