@import '../../App.scss';

.contact-header{
    background: url('https://cdn.shopify.com/s/files/1/0304/5739/7386/files/bg_collection.jpg?v=1613680507') center;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-h3{
    font-size: 2.8rem;
    font-weight: 300;
    color: $darkGray;
    border-bottom: 1px solid $cream;
    padding-bottom: 5px;
}
.contact-span{
    font-size: 0.8rem;
    color: $lightGray;
}
.contact-container{
    display: flex;
    flex-wrap: wrap;
}
.contact-socailmedia{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex: 0 0 100%;
    align-items: flex-start;
    margin-top: 3rem;
    box-sizing: border-box;
   
}
.contact-socailmedia .logo{
margin-left: 0;
}

.contact-socailmedia p
{
    text-align: justify;
    line-height: 1.5rem;
     padding-right: 1rem;
     color: $lighterGray;
     font-weight: 400;
}
.send-messsage{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    flex: 0 0 100%;
    padding: 2rem;
    box-sizing: border-box;
}
.form-title{
    font-size: 2.1rem;
    text-align: left;
    margin-block-end: 0em;
}
.form-sub-title{
    color: $darkGray;
    font-size: 1.3rem;
    text-align: left;
    margin-block-start: 0em;
    font-weight: 300;
}
.form-input{
    padding: 1rem;
    border: 1px solid $lightestGray;
    outline: none;
    color: $darkGray;
    font-size: 0.9rem;
    font-family: dosis;
}
.form-input::placeholder{
    font-size: 0.7rem;
}
.form-textarea{
    padding: 1rem;
    border: 1px solid $lightestGray;
    outline: none;
    color: $darkGray;
    font-size: 0.9rem;
    font-family: dosis;
}
.form-textarea::placeholder{
    font-size: 0.7rem;
}
.forget-password{
    margin-top: 0.9rem;
    font-size: 0.9rem;
    color: $lighterGray;
    letter-spacing: normal;
    cursor: pointer;
}
.forget-password:hover{
    color: $cream;
}
.form-btn{
    padding: 1rem 3rem;
    background-color: $black;
    color: $white;
    font-size: 0.9rem;
    margin-top: 0.9rem;
    cursor: pointer;
    text-align: center;
}
.form-btn:hover{
    background-color: $cream;
}

@media screen and (min-width : 700px) {
    .send-messsage{
        flex: 0 0 50%;
    }
    .contact-socailmedia{

        flex: 0 0 35%;

    }
}