@import '../../App.scss';

.add-product-container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}
.required{
    border: 1px solid darkred;
}
.status{
    padding: 1rem 3rem;
    color:$white;
    font-size: 0.9rem;
    margin-top: 0.9rem;
    cursor: pointer;
    text-align: center;
opacity: 0;  
transform: translateY(-1rem);
  transition: all 0.7s;
}
.error{
    visibility: visible;
  background-color: darkred;
}
.success{
opacity: 1;
    background-color:seagreen;
    transform: translateY(0rem);

}
.form-input{
    transition: all 1s;}
.form-input:focus{
    border: 1px solid $cream;
}
.input-container{
    position: relative;
    display: flex;
}
.price-input{
    width: 100%;
}
.form-tooltip{
    visibility: hidden;
    position: absolute;
    top:-40px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    font-size: 0.8rem;
    letter-spacing: normal;
    z-index: 1000;
    width: 120px;
    padding: 0.6rem 0.3rem;
    color: $white;
    text-align: center;
    border-radius: 5px;
    transform: translateY(-0.5rem);
    transition: all 0.1s;
}
.form-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .input-container:hover .form-tooltip{
    visibility: visible;
    transform: translateY(0rem);
  }
  select{
    color: $darkGray;
    font-size: 0.75rem;
    opacity: 0.8;
  }
  .upload-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .upload-list span{
     flex: 0 0 40%;
     letter-spacing: normal;
     padding: 0.5rem;
     color: $darkGray;
     font-weight: 300;
  }
  .remove-item{
    color: $lightGray;
    cursor: pointer;
  }
  .remove-item:hover{
    color: $cream;
    cursor: pointer;
  }

  .custom-file-input {
    color: transparent;
  }

  .custom-file-input::-webkit-file-upload-button {
    font-family: dosis;
    visibility: hidden;
  }
  .custom-file-input::before {
    color: black;
    font-family: dosis;
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }


 
@media screen and (min-width:800px) {
    .add-product-container{
        width: 70%;
        margin: 0;
    }
}