@import '../../App.scss';

.form{
    width: 70%;
    background-color: $white;
    position: fixed;
    top: 1.6rem;
    transform: translateY(-50rem);
    transition: all 2s;
    z-index: 10000;
    padding: 1.5rem 1.5rem 3rem;
    margin: 0 auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
}
.form-show{
    transform: translateY(1.6rem);
}
.container{
    display: flex;
    flex-direction: column;
}
.form-title{
    font-size: 2.1rem;
    text-align: center;
    margin-block-end: 0em;
}
.form-sub-title{
    color: $darkGray;
    font-size: 1.3rem;
    text-align: center;
    margin-block-start: 0em;
    font-weight: 300;
}
.form-input , select{
    padding: 1rem;
    border: 1px solid $lightestGray;
    outline: none;
    color: $darkGray;
    font-size: 0.9rem;
    font-family: dosis;
}
.form-input::placeholder{
    font-size: 0.7rem;
}
.forget-password{
    margin-top: 0.9rem;
    font-size: 0.9rem;
    color: $lighterGray;
    letter-spacing: normal;
    cursor: pointer;
}
.forget-password:hover{
    color: $cream;
}
.form-btn{
    padding: 1rem 3rem;
    background-color: $black;
    color: $white;
    font-size: 0.9rem;
    margin-top: 0.9rem;
    cursor: pointer;
    text-align: center;
}
.form-btn:hover{
    background-color: $cream;
}
.form-second-btn{
    padding: 1rem 3rem;
    background-color: $lightestGray-2;
    color: $darkGray;
    font-size: 0.9rem;
    margin-top: 0.9rem;
    cursor: pointer;
    text-align: center;
}
.form-second-btn span{
    color: $lightGray;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    letter-spacing: normal;
}
.form-second-btn span:hover{
    color: $cream;
}
@media screen and (min-width : 500px) {
    .form{
        padding: 1.5rem 4.5rem 3rem;
    width: 50%;}
}
@media screen and (min-width : 700px) {
    .form{
        width: 45%;}
}
@media screen and (min-width : 900px) {
    .form{
        width: 25%;}
}