@font-face {
    font-family: 'Dosis';
    src: url(../public/fonts/Dosis-ExtraLight.ttf);
    font-weight: 100;
}
@font-face {
    font-family: 'Dosis';
    src: url(../public/fonts/Dosis-Light.ttf);
    font-weight: 200;
}
@font-face {
    font-family: 'Dosis';
    src: url(../public/fonts/Dosis-Book.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Dosis';
    src: url(../public/fonts/Dosis-Medium.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Dosis';
    src: url(../public/fonts/Dosis-SemiBold.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Dosis';
    src: url(../public/fonts/Dosis-Bold.ttf);
    font-weight: 600;
}

body{
    font-family: dosis;
}
.fixed{
    position: fixed;
}







$darkGray : #333;
$lightGray : #555;
$bg-lightGray:#f5f5f5;
$bg-lighterGray:#f7f7f7;
$bg-darkGray:#2a2a2a;
$darkestGray :#010101;
$lighterGray :#b7b7b7;
$gray : #c2c2c2;
$gray-2 : #999;
$cream : #e7c17e;
$lightestGray:#e2e2e2;
$lightestGray-2:#f2f2f2;
$black : #000;
$white : #fff;

::-webkit-scrollbar {
    width: 10px;
  }
 
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $lighterGray;
  }