@font-face {
    font-family: 'Dosis';
    src: url(../public/fonts/Dosis-ExtraLight.ttf);
    font-weight: 100;
}
@font-face {
    font-family: 'Dosis';
    src: url(../public/fonts/Dosis-Light.ttf);
    font-weight: 200;
}
@font-face {
    font-family: 'Dosis';
    src: url(../public/fonts/Dosis-Book.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Dosis';
    src: url(../public/fonts/Dosis-Medium.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Dosis';
    src: url(../public/fonts/Dosis-SemiBold.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Dosis';
    src: url(../public/fonts/Dosis-Bold.ttf);
    font-weight: 600;
}


$darkGray : #333;
$lightGray : #555;
$bg-lightGray:#f5f5f5;
$darkestGray :#010101;
$lighterGray :#b7b7b7;
$cream : #e7c17e;
$lightestGray:#e2e2e2;